{% extends 'base.html' %} {% block content %}

<main class="container py-5">
  <section class="card card-body">
    <h1 class="display-1 text-center">Tasks App with Django! 🏡</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat
      inventore sapiente debitis amet aperiam officiis. Ipsum quo, dolorum
      itaque sit fugit alias earum eius distinctio. Dolor enim quisquam veniam
      harum ipsa deleniti, unde eos alias ex nisi maiores accusantium dolores
      aut sapiente quae ab mollitia sequi adipisci, accusamus neque rerum. Iste
      ipsam voluptas nobis temporibus ratione earum consequuntur, sint ut,
      impedit doloremque beatae veniam vero ex eius minima libero, pariatur
      laudantium vel! Libero ipsum doloribus natus, vero recusandae repellendus
      tempora, hic sunt accusantium mollitia, magnam maxime sit? Eveniet saepe
      ducimus necessitatibus dolorum explicabo, eligendi ipsa, alias animi quam
      rerum sapiente?
    </p>

    <div class="text-center">
      <a class="btn btn-primary" href="/signin/">Sign In</a>
      <a class="btn btn-warning" href="/signup">Sign Up</a>
    </div>
  </section>
</main>

{% endblock %}
