{% extends 'base.html' %} {%block content%}

<main class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2 pt-4">
      <h1>{{task.title}}</h1>
      {{error}}

      <div class="d-flex flex-column gap-2">
        <form method="POST">
          {% csrf_token %} {{form.as_p}}

          <button class="btn btn-primary">Update</button>
        </form>

        <form action="{% url 'completed_task' task.id %}" method="POST">
          {% csrf_token %}

          <button class="btn btn-success">Completed</button>
        </form>

        <form action="{% url 'delete_task' task.id %}" method="POST">
          {% csrf_token %}

          <button class="btn btn-danger">Delete</button>
        </form>
      </div>
    </div>
  </div>
</main>

{% endblock%}
